Task 23.04.20
Bankloan 
Logistic regression

In [32]:
import os
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [33]:
os.getcwd()

'D:\\ML\\Gewissta\\My course'

In [34]:
os.chdir('D:\\ML\\Gewissta\\My course\\')

In [35]:
data = pd.read_csv('Bankloan.csv', sep = ';', decimal = ',')

In [36]:
data.head()

,age,job,employ,address,income,debtinc,creddebt,othdebt,default
0,28,working - other,7,2,44,17.7,2.990592,4.797408,0
1,64,working - production,34,17,116,14.7,5.047392,12.004608,0
2,40,working - IT,20,12,61,4.8,1.042368,1.885632,0
3,30,working - IT,11,3,27,34.5,1.751220,7.563780,0
4,25,working - IT,2,2,30,22.4,0.759360,5.960640,1

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 9 columns):
age         1500 non-null int64
job         1500 non-null object
employ      1500 non-null int64
address     1500 non-null int64
income      1500 non-null int64
debtinc     1500 non-null float64
creddebt    1500 non-null float64
othdebt     1500 non-null float64
default     1500 non-null int64
dtypes: float64(3), int64(5), object(1)
memory usage: 105.5+ KB

In [38]:
data.isnull().sum()

age         0
job         0
employ      0
address     0
income      0
debtinc     0
creddebt    0
othdebt     0
default     0
dtype: int64

In [39]:
data.describe()

,age,employ,address,income,debtinc,creddebt,othdebt,default
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
mean,34.174000,6.952000,6.305333,59.588667,9.929333,1.934922,3.844308,0.365333
std,13.142306,8.977644,6.047740,67.130160,6.671884,2.973989,5.333428,0.481684
min,18.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000
25%,24.000000,0.000000,2.000000,27.000000,4.800000,0.423225,1.106986,0.000000
50%,31.000000,4.000000,5.000000,40.000000,8.500000,0.986076,2.214072,0.000000
75%,42.000000,10.000000,9.000000,64.000000,13.525000,2.202150,4.573312,1.000000
max,79.000000,63.000000,34.000000,1079.000000,40.700000,35.972690,63.472640,1.000000

In [40]:
data.job.value_counts()

working - other         527
own business            333
civil service           310
working - IT            246
working - production     84
Name: job, dtype: int64

In [41]:
data_onehot = pd.get_dummies(data)

In [42]:
data_onehot.head()

,age,employ,address,income,debtinc,creddebt,othdebt,default,job_civil service,job_own business,job_working - IT,job_working - other,job_working - production
0,28,7,2,44,17.7,2.990592,4.797408,0,0,0,0,1,0
1,64,34,17,116,14.7,5.047392,12.004608,0,0,0,0,0,1
2,40,20,12,61,4.8,1.042368,1.885632,0,0,0,1,0,0
3,30,11,3,27,34.5,1.751220,7.563780,0,0,0,1,0,0
4,25,2,2,30,22.4,0.759360,5.960640,1,0,0,1,0,0

In [43]:
X_train, X_test, y_train, y_test = train_test_split(data_onehot.drop('default', axis = 1), data_onehot['default'], 
                                                    test_size = 0.3, stratify = data_onehot['default'],
                                                   random_state = 42)

In [44]:
standardscaler = StandardScaler()

In [45]:
standardscaler.fit(X_train)

C:\Users\Dell\Anaconda3\envs\py36\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [46]:
X_train_standardscaled = standardscaler.transform(X_train)
X_test_standardscaled = standardscaler.transform(X_test)

C:\Users\Dell\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.
C:\Users\Dell\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.

In [47]:
type(y_train)#?type (X_train_standardscaled)

pandas.core.series.Series

In [48]:
type (X_train_standardscaled)#?type(y_train)

numpy.ndarray

In [49]:
logreg = LogisticRegression(solver = 'lbfgs', max_iter = 200)

In [50]:
logreg.fit(X_train_standardscaled, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=200, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [51]:
print(logreg.score(X_train_standardscaled, y_train))
print(logreg.score(X_test_standardscaled, y_test))

0.7771428571428571
0.7466666666666667

In [52]:
logreg_predvalues = logreg.predict(X_test_standardscaled)
logreg_predvalues[:10]

array([1, 0, 0, 0, 0, 1, 0, 1, 1, 1], dtype=int64)

In [53]:
logreg_probabilities = logreg.predict_proba(X_test_standardscaled)
logreg_probabilities[:10]

array([[0.15649385, 0.84350615],
       [0.79751383, 0.20248617],
       [0.76867516, 0.23132484],
       [0.99837795, 0.00162205],
       [0.901663  , 0.098337  ],
       [0.42014699, 0.57985301],
       [0.9490018 , 0.0509982 ],
       [0.30068302, 0.69931698],
       [0.32516072, 0.67483928],
       [0.17958613, 0.82041387]])