Task 27.04.20
Bankloan 
Logistic regression
Pipeline
Cross validation

In [124]:
import os
import numpy as np
import pandas as pd
#from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score, cross_val_predict

In [125]:
os.getcwd()

'D:\\ML\\jupiter_notebook\\Gewissta\\Course_ML\\Модуль_1\\Data'

In [126]:
os.chdir('D:\\ML\\Gewissta\\My course\\')

# Bankloan

In [127]:
data = pd.read_csv('Bankloan.csv', sep = ';', decimal = ',')

In [128]:
data.head()

,age,job,employ,address,income,debtinc,creddebt,othdebt,default
0,28,working - other,7,2,44,17.7,2.990592,4.797408,0
1,64,working - production,34,17,116,14.7,5.047392,12.004608,0
2,40,working - IT,20,12,61,4.8,1.042368,1.885632,0
3,30,working - IT,11,3,27,34.5,1.751220,7.563780,0
4,25,working - IT,2,2,30,22.4,0.759360,5.960640,1

In [129]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 9 columns):
age         1500 non-null int64
job         1500 non-null object
employ      1500 non-null int64
address     1500 non-null int64
income      1500 non-null int64
debtinc     1500 non-null float64
creddebt    1500 non-null float64
othdebt     1500 non-null float64
default     1500 non-null int64
dtypes: float64(3), int64(5), object(1)
memory usage: 105.5+ KB

In [130]:
data.isnull().sum()

age         0
job         0
employ      0
address     0
income      0
debtinc     0
creddebt    0
othdebt     0
default     0
dtype: int64

In [131]:
data.describe()

,age,employ,address,income,debtinc,creddebt,othdebt,default
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
mean,34.174000,6.952000,6.305333,59.588667,9.929333,1.934922,3.844308,0.365333
std,13.142306,8.977644,6.047740,67.130160,6.671884,2.973989,5.333428,0.481684
min,18.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000
25%,24.000000,0.000000,2.000000,27.000000,4.800000,0.423225,1.106986,0.000000
50%,31.000000,4.000000,5.000000,40.000000,8.500000,0.986076,2.214072,0.000000
75%,42.000000,10.000000,9.000000,64.000000,13.525000,2.202150,4.573312,1.000000
max,79.000000,63.000000,34.000000,1079.000000,40.700000,35.972690,63.472640,1.000000

In [132]:
#X_train, X_test, y_train, y_test = train_test_split(data.drop('default', axis = 1), data['default'], 
#                                                    test_size = 0.3, stratify = data['default'],
#                                                   random_state = 42)

In [133]:
y = data.pop('default')

In [134]:
cat_columns = data.dtypes[data.dtypes == 'object'].index
num_columns = data.dtypes[data.dtypes != 'object'].index

In [135]:
num_pipe = Pipeline([('imputer', SimpleImputer(strategy = 'mean')), 
                    ('scaler', StandardScaler())])

In [136]:
cat_pipe = Pipeline([('imputer', SimpleImputer(strategy = 'most_frequent')), 
                    ('ohe', OneHotEncoder(sparse = False, handle_unknown = 'ignore'))])

In [137]:
transformers = [('num', num_pipe, num_columns), ('cat', cat_pipe, cat_columns)]

In [138]:
transformer = ColumnTransformer(transformers = transformers)

In [139]:
ml_pipe = Pipeline([('transform', transformer),
                    ('logreg', LogisticRegression(solver = 'lbfgs', max_iter = 200))])

In [140]:
print(cross_val_score(ml_pipe, data, y, cv = 5))
cv_mean = cross_val_score(ml_pipe, data, y, cv = 5).mean()
print('Accuracy mean by 5 folders ', cv_mean)

[0.72093023 0.76079734 0.78333333 0.80936455 0.73578595]
Accuracy mean by 5 folders  0.7620422819512809

In [141]:
print(cross_val_predict(ml_pipe, data, y, cv = 5)[:20])

[1 0 0 1 1 0 0 1 0 0 0 1 1 0 0 1 1 0 0 0]

In [142]:
y[:20]

0     0
1     0
2     0
3     0
4     1
5     1
6     1
7     0
8     0
9     0
10    0
11    1
12    0
13    0
14    0
15    1
16    1
17    1
18    1
19    0
Name: default, dtype: int64

# Flats_missing

In [143]:
os.getcwd()

'D:\\ML\\Gewissta\\My course'

In [144]:
os.chdir('D:\\ML\\jupiter_notebook\\Gewissta\\Course_ML\\Модуль_1\\Data')

In [145]:
df = pd.read_csv('Flats_missing.csv', sep = ';', decimal = ',')

In [146]:
df.head(10)

,Rooms_Number,District,Stor,Storeys,Space_Total,Space_Living,Space_Kitchen,Balcon_Num,Lodgee_Num,lat,Long,Cost_KV
0,1,Заельцовский,13,17.0,54.1,18.0,21.2,0.0,1,55.0725,82.9069,50831.79298
1,1,Заельцовский,10,17.0,54.5,18.0,21.1,0.0,1,55.0725,82.9069,52000.00000
2,1,Центральный,8,17.0,37.0,0.0,0.0,0.0,0,55.0725,82.9068,87837.83784
3,1,Центральный,2,17.0,42.0,0.0,0.0,0.0,0,55.0725,82.9068,90238.09524
4,1,Центральный,13,17.0,28.0,0.0,0.0,0.0,0,55.0725,82.9068,110714.28570
5,2,Заельцовский,1,17.0,59.0,36.0,10.0,0.0,1,55.0725,82.9069,83050.84746
6,1,Заельцовский,2,NaN,NaN,18.0,12.0,0.0,1,55.0725,82.9069,89285.71429
7,1,Заельцовский,15,17.0,54.0,0.0,0.0,0.0,0,55.0725,82.9069,60740.74074
8,1,Заельцовский,11,17.0,37.6,18.6,10.6,NaN,1,55.0725,82.9069,78457.44681
9,3,Заельцовский,16,NaN,110.0,80.0,15.0,0.0,1,55.0725,82.9069,75454.54545

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71750 entries, 0 to 71749
Data columns (total 12 columns):
Rooms_Number     71750 non-null int64
District         71740 non-null object
Stor             71750 non-null int64
Storeys          71746 non-null float64
Space_Total      71746 non-null float64
Space_Living     71747 non-null float64
Space_Kitchen    71749 non-null float64
Balcon_Num       71749 non-null float64
Lodgee_Num       71750 non-null int64
lat              71750 non-null float64
Long             71750 non-null float64
Cost_KV          71750 non-null float64
dtypes: float64(8), int64(3), object(1)
memory usage: 6.6+ MB

In [148]:
df.isnull().sum()

Rooms_Number      0
District         10
Stor              0
Storeys           4
Space_Total       4
Space_Living      3
Space_Kitchen     1
Balcon_Num        1
Lodgee_Num        0
lat               0
Long              0
Cost_KV           0
dtype: int64

In [149]:
df.District.value_counts()

Октябрьский        12773
Ленинский          12312
Кировский          10374
Калининский         7512
Заельцовский        6726
Дзержинский         6369
Первомайский        5463
Центральный         3822
Советский           3655
Железнодорожный     2734
Name: District, dtype: int64

In [150]:
y_df = df.pop('Cost_KV')

In [151]:
cat_columns_df = df.dtypes[df.dtypes == 'object'].index
num_columns_df = df.dtypes[df.dtypes != 'object'].index

In [152]:
num_pipe_df = Pipeline([('imputer', SimpleImputer(strategy = 'median')), 
                    ('scaler', StandardScaler())])

In [153]:
cat_pipe_df = Pipeline([('imputer', SimpleImputer(strategy = 'most_frequent')), 
                    ('ohe', OneHotEncoder(sparse = False, handle_unknown = 'ignore'))])

In [154]:
transformers_df = [('num_df', num_pipe_df, num_columns_df), ('cat_df', cat_pipe_df, cat_columns_df)]

In [155]:
transformer_df = ColumnTransformer(transformers = transformers_df)

In [156]:
ml_pipe_df = Pipeline([('transform', transformer_df),
                    ('boost', GradientBoostingRegressor(max_depth = 6, random_state = 46))])

In [171]:
rmse_cv = cross_val_score(ml_pipe_df, df, y_df, scoring = 'neg_mean_squared_error', cv = 5)
r2_cv = cross_val_score(ml_pipe_df, df, y_df, cv = 5)

In [164]:
print(np.sqrt(np.abs(rmse_cv)).mean(), r2_cv.mean())

11865.121632970506 0.4037398553602814

In [170]:
print(cross_val_predict(ml_pipe_df, df, y_df, cv = 5)[:20])

[71867.05857691 71867.05857691 79456.76268194 76903.96399166
 78510.70940287 64364.80492051 65465.55129985 69244.91536777
 76142.9917244  57643.22972873 68016.14598321 67375.34801485
 67098.67307735 67139.87711593 62281.44218533 62596.96265161
 63510.41187884 70767.95965774 70237.90089713 64109.01187235]

In [168]:
print(y_df[:20])

0      50831.79298
1      52000.00000
2      87837.83784
3      90238.09524
4     110714.28570
5      83050.84746
6      89285.71429
7      60740.74074
8      78457.44681
9      75454.54545
10    104411.76470
11     69072.16495
12     78571.42857
13     64361.70213
14     63076.92308
15     74152.54237
16     73835.61644
17     78333.33333
18     74468.08511
19     70895.52239
Name: Cost_KV, dtype: float64

In [173]:
df.isnull().sum()

Rooms_Number      0
District         10
Stor              0
Storeys           4
Space_Total       4
Space_Living      3
Space_Kitchen     1
Balcon_Num        1
Lodgee_Num        0
lat               0
Long              0
dtype: int64

In [174]:
df.District.value_counts()

Октябрьский        12773
Ленинский          12312
Кировский          10374
Калининский         7512
Заельцовский        6726
Дзержинский         6369
Первомайский        5463
Центральный         3822
Советский           3655
Железнодорожный     2734
Name: District, dtype: int64