Task 27.04.20
Bankloan 
Logistic regression
Pipeline

In [1]:
import os
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [2]:
os.getcwd()

'D:\\ML\\jupiter_notebook\\Gewissta\\My course_Jupiter'

In [3]:
os.chdir('D:\\ML\\Gewissta\\My course\\')

In [4]:
data = pd.read_csv('Bankloan.csv', sep = ';', decimal = ',')

In [5]:
data.head()

,age,job,employ,address,income,debtinc,creddebt,othdebt,default
0,28,working - other,7,2,44,17.7,2.990592,4.797408,0
1,64,working - production,34,17,116,14.7,5.047392,12.004608,0
2,40,working - IT,20,12,61,4.8,1.042368,1.885632,0
3,30,working - IT,11,3,27,34.5,1.751220,7.563780,0
4,25,working - IT,2,2,30,22.4,0.759360,5.960640,1

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 9 columns):
age         1500 non-null int64
job         1500 non-null object
employ      1500 non-null int64
address     1500 non-null int64
income      1500 non-null int64
debtinc     1500 non-null float64
creddebt    1500 non-null float64
othdebt     1500 non-null float64
default     1500 non-null int64
dtypes: float64(3), int64(5), object(1)
memory usage: 105.5+ KB

In [7]:
data.isnull().sum()

age         0
job         0
employ      0
address     0
income      0
debtinc     0
creddebt    0
othdebt     0
default     0
dtype: int64

In [8]:
data.describe()

,age,employ,address,income,debtinc,creddebt,othdebt,default
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
mean,34.174000,6.952000,6.305333,59.588667,9.929333,1.934922,3.844308,0.365333
std,13.142306,8.977644,6.047740,67.130160,6.671884,2.973989,5.333428,0.481684
min,18.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000
25%,24.000000,0.000000,2.000000,27.000000,4.800000,0.423225,1.106986,0.000000
50%,31.000000,4.000000,5.000000,40.000000,8.500000,0.986076,2.214072,0.000000
75%,42.000000,10.000000,9.000000,64.000000,13.525000,2.202150,4.573312,1.000000
max,79.000000,63.000000,34.000000,1079.000000,40.700000,35.972690,63.472640,1.000000

In [9]:
X_train, X_test, y_train, y_test = train_test_split(data.drop('default', axis = 1), data['default'], 
                                                    test_size = 0.3, stratify = data['default'],
                                                   random_state = 42)

In [10]:
cat_columns = X_train.dtypes[X_train.dtypes == 'object'].index
num_columns = X_train.dtypes[X_train.dtypes != 'object'].index

In [11]:
num_pipe = Pipeline([('imputer', SimpleImputer(strategy = 'mean')), 
                    ('scaler', StandardScaler())])

In [12]:
cat_pipe = Pipeline([('imputer', SimpleImputer(strategy = 'most_frequent')), 
                    ('ohe', OneHotEncoder(sparse = False, handle_unknown = 'ignore'))])

In [13]:
transformers = [('num', num_pipe, num_columns), ('cat', cat_pipe, cat_columns)]

In [14]:
transformer = ColumnTransformer(transformers = transformers)

In [15]:
ml_pipe = Pipeline([('transform', transformer),
                    ('logreg', LogisticRegression(solver = 'lbfgs', max_iter = 200))])

In [16]:
ml_pipe.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('transform', ColumnTransformer(n_jobs=None, remainder='drop', sparse_threshold=0.3,
         transformer_weights=None,
         transformers=[('num', Pipeline(memory=None,
     steps=[('imputer', SimpleImputer(copy=True, fill_value=None, missing_values=nan, strategy='mean',
       verbose=0)...enalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False))])

In [17]:
print('Train score ', ml_pipe.score(X_train, y_train))
print('Test score ', ml_pipe.score(X_test, y_test))

Train score  0.7752380952380953
Test score  0.7466666666666667

In [18]:
logreg_predvalues_pipe = ml_pipe.predict(X_test)
print('Test predict', logreg_predvalues_pipe[:10])
print('Test proba ', ml_pipe.predict_proba(X_test)[:10])

Test predict [1 0 0 0 0 1 0 1 1 1]
Test proba  [[0.15660623 0.84339377]
 [0.78918204 0.21081796]
 [0.76909233 0.23090767]
 [0.9983701  0.0016299 ]
 [0.90149336 0.09850664]
 [0.42245087 0.57754913]
 [0.94882448 0.05117552]
 [0.30078027 0.69921973]
 [0.32693227 0.67306773]
 [0.17969466 0.82030534]]